body{
    background-color: #ffe6f4;
    font-size: 16px;
    font-family: Arial;
    }
        
h1{
    color: #ff40a9;
    font-family: Georgia, serif
    }
    
h2{
    color: #ff7ac3;
    font-size: 24px;
    }
            
h3{
    color: #ffb5de;
    }
            
img{
    border: 2px solid #ff7ac3;
    margin: 5px;
    }
            
div{
    margin: 15px;
    padding: 10px;
    }
